@import url('https://fonts.googleapis.com/css?family=Karla')
@import url('http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

color-body = #222
color-background = white
color-separator = rgba(0, 0, 0, 0.2)
color-hyperlink = royalblue
color-hyperlink-chosen = #233
color-warning = #ca3c3c
color-tags = #777
color-actions = #555
color-faint = #888

body
  font-family 'Karla', monospace
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  font-weight normal
  font-size 1.2em
  background color-background
  padding 1em 0
  color color-body

.divider
  border-bottom 1px solid color-separator

.page-title
  margin 0

  a
    color inherit

a .fa
  margin-left 0.5em
  font-size 1.4em
  cursor pointer

.showing
  color color-hyperlink-chosen

.banner
  height 300px
  width 100%
  text-align center
  display table

.banner-head
  display table-cell
  vertical-align middle
  margin-bottom 0

.landing-page h3
  text-align center

.action-area
  text-align center
  margin 3em auto

.header, .content, .footer
  max-width 25em
  margin 1em auto
  padding 0 1em

.footer a
  font-size 90%
  color color-faint

form
  display inline

a
  color color-hyperlink
  text-decoration none
a:hover
a:focus
  text-decoration underline

.button-warning
  color white
  text-shadow 0 1px 1px rgba(0, 0, 0, 0.2)
  background color-warning

.button-xsmall
  font-size 70%

.button-rounded
  border-radius 2em

.pure-form button[type=submit]
  margin 0

ul.contacts-list
  list-style-type none
  padding 0

.contacts-list
  li
    margin 1em 0

  li.new-user
    color color-faint
    font-style italic

  a
    font-weight bold

  .contacts-date, .contacts-actions, .contacts-tags, .contacts-snooze
    font-size 80%
    display block
    margin 0.3em 0

  .contacts-actions a, .contacts-tags a
    cursor pointer
    margin-right 0.7em

  .contacts-actions a
    color color-actions

  .contacts-tags a
    color color-tags

  .contacts-snooze

    a
      cursor pointer
      font-weight normal
      color color-warning
    a:hover
      text-decoration line-through


.expired
    color color-warning

.contacts-list-filter
  width 100%

.interaction, .note
  margin-bottom 1em

  a
    cursor pointer
    color color-warning

.error-message
  color color-warning

.tutorial
  ul
    font-style italic