@import url('https://fonts.googleapis.com/css?family=Karla')
@import url('http://yui.yahooapis.com/pure/0.6.0/pure-min.css')

body
  font-family 'Karla', monospace
  -webkit-font-smoothing antialiased
  font-weight normal
  font-size 1.2em
  max-width 25em
  background cornsilk
  margin 2em auto
  padding 0 1em

form
  display inline