@import url('https://fonts.googleapis.com/css?family=Karla')

body
  font-family 'Karla', monospace
  -webkit-font-smoothing antialiased
  font-weight normal
  font-size 1.2em
  width 25em
  background cornsilk
  margin 2em auto
