nav
  a(href="/") Home
  span &nbsp;» Contacts

h2 Contacts

h4(ng-bind='vm.errorMessage' ng-if='vm.errorMessage').error-message

form.pure-form(role='form', name='contactsFilterForm', ng-show='vm.contacts.length > 0', ng-submit='vm.selectTopContact()')
  fieldset
    input(id='filter', type='text', name='filter', ng-model='vm.contactQuery', placeholder='Type to filter contacts').contacts-list-filter

div(ng-show='!vm.isBusy')
  ul.contacts-list
    li(ng-repeat='contact in vm.contacts | filter:vm.contactQuery | orderBy: ["!!snoozedUntil", "!!lastContactAt"]')
      a(ng-href='/contacts#/{{contact._id}}' ng-bind='contact.name || "[no name]"')
      span.contacts-tags(ng-if='contact.tags.length > 0')
        a(ng-repeat='tag in contact.tags' ng-bind='tag' ng-click='vm.filterByTag(tag)')
      span.contacts-actions
        a(ng-click='vm.checkInContact(contact)') check-in
        a(ng-click='vm.snoozeContact(contact)') snooze
      span(ng-bind='contact.lastContactMessage' ng-class='{expired: contact.expired}').contacts-date
      span(ng-bind='contact.snoozedUntilMessage').contacts-date.expired

  br

  form.pure-form(role='form', ng-submit='vm.addContact()')
    fieldset
      input(id='name', type='text', name='name', ng-model='vm.newContact.name', placeholder='Contact name')
      button(type='submit', ng-disabled='vm.isAddingContact').pure-button.pure-button-primary Add

ul(ng-show='vm.isBusy').contacts-list
  p Loading...
