nav
  a(href="/") Home
  span &nbsp;» Contacts

h2 Contacts

form.pure-form(role='form', name='contactsFilterForm', ng-show='vm.contacts.length > 0')
  fieldset
    input(id='filter', type='text', name='filter', ng-model='vm.contactQuery', placeholder='Type to filter contacts').contacts-list-filter

div(ng-show='!vm.isBusy')
  ul.contacts-list
    li(ng-repeat='contact in vm.contacts | filter:vm.contactQuery')
      a(ng-href='/contacts#/{{contact._id}}' ng-bind='contact.name || "[no name]"')
      div(ng-if='contact.tags.length > 0')
        span(ng-repeat='tag in contact.tags' ng-bind='tag', ng-click='vm.filterByTag(tag)').contacts-tag
      span(ng-bind='contact.lastContactMessage').contacts-date

  br

  form.pure-form(role='form', ng-submit='vm.addContact()')
    fieldset
      input(id='name', type='text', name='name', ng-model='vm.newContact.name', placeholder='Contact name')
      button(type='submit', ng-disabled='vm.isAddingContact').pure-button.pure-button-primary Add

ul(ng-show='vm.isBusy').contacts-list
  p Loading...
