@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("http://yui.yahooapis.com/pure/0.6.0/pure-min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
body {
  font-family: 'Karla', monospace;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-size: 1.2em;
  background: #fff;
  padding: 1em 0;
  color: #222;
}
.divider {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.page-title {
  margin: 0;
}
.page-title a {
  color: inherit;
}
a .fa {
  margin-left: 0.5em;
  font-size: 1.4em;
  cursor: pointer;
}
.showing {
  color: #233569;
}
.banner {
  height: 300px;
  width: 100%;
  text-align: center;
  display: table;
}
.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
}
.landing-page h3 {
  text-align: center;
}
.action-area {
  text-align: center;
  margin: 3em auto;
}
.header,
.content,
.footer {
  max-width: 25em;
  margin: 1em auto;
  padding: 0 1em;
}
.footer a {
  font-size: 90%;
  color: #888;
}
form {
  display: inline;
}
a {
  color: #4169e1;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.button-warning {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  background: #ca3c3c;
}
.button-xsmall {
  font-size: 70%;
}
.button-rounded {
  border-radius: 2em;
}
.pure-form button[type=submit] {
  margin: 0;
}
ul.contacts-list {
  list-style-type: none;
  padding: 0;
}
.contacts-list li {
  margin: 1em 0;
}
.contacts-list li.new-user {
  color: #999;
  font-style: italic;
}
.contacts-list a {
  font-weight: bold;
}
.contacts-list .contacts-tag {
  padding: 0.2em 0.7em;
  margin: 0.3em 0;
  margin-right: 2px;
  color: #fff;
  background: #999;
  font-size: 80%;
  cursor: pointer;
}
.contacts-list .contacts-date,
.contacts-list .contacts-actions,
.contacts-list .contacts-tags,
.contacts-list .contacts-snooze {
  font-size: 80%;
  display: block;
  margin: 0.3em 0;
}
.contacts-list .contacts-actions a,
.contacts-list .contacts-tags a {
  cursor: pointer;
  margin-right: 0.7em;
}
.contacts-list .contacts-actions a {
  color: #555;
}
.contacts-list .contacts-tags a {
  color: #777;
}
.contacts-list .contacts-snooze a {
  cursor: pointer;
  font-weight: normal;
  color: #ca3c3c;
}
.contacts-list .contacts-snooze a:hover {
  text-decoration: line-through;
}
.expired {
  color: #ca3c3c;
}
.contacts-list-filter {
  width: 100%;
}
.interaction,
.note {
  margin-bottom: 1em;
}
.interaction a,
.note a {
  cursor: pointer;
  color: #ca3c3c;
}
.error-message {
  color: #ca3c3c;
}
.tutorial ul {
  font-style: italic;
}
