@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("http://yui.yahooapis.com/pure/0.6.0/pure-min.css");
body {
  font-family: 'Karla', monospace;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-size: 1.2em;
  max-width: 25em;
  background: #fff8dc;
  margin: 2em auto;
  padding: 0 1em;
}
form {
  display: inline;
}
a {
  color: #4169e1;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.button-warning {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  background: #ca3c3c;
}
.button-xsmall {
  font-size: 70%;
}
.button-rounded {
  border-radius: 2em;
}
.pure-form button[type=submit] {
  margin: 0;
}
ul.contacts-list {
  list-style-type: none;
  padding: 0;
}
.contacts-list li {
  margin: 1em 0;
}
.contacts-list a {
  font-weight: bold;
}
.contacts-list .contacts-tag {
  padding: 0.2em 0.7em;
  margin-right: 2px;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.contacts-list .contacts-date {
  font-size: 80%;
  display: block;
}
.contacts-list-filter {
  width: 100%;
}
