extend default

block content

  noscript
    p JavaScript must be enabled for this app to function.
    p Please follow the instructions on #[a(href='http://www.enable-javascript.com/') this website] to enable JavaScript in your web browser.

  div(ng-app='app')
    div(ng-view)
      span Loading...

  script(src='//code.jquery.com/jquery-2.2.1.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js')
  script(src='/js/app.js')
