doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Personowl
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .header
      h1.page-title Personowl
    
    .main-content
      block content

    .footer
      p: a(href='http://snevsky.com') App by Serge Nevsky
