extend default

block content

  h2 Home

  if (!user)
    p Manage your personal and business relationships with Personowl.
    a(href="/login")
      button.pure-button Login
    span &nbsp;
    a(href="/register")
      button.pure-button Register
  if (user)
    p
      | You are currently logged in as&nbsp;
      b #{user.username}
    a(href="/contacts")
      button.pure-button Contacts
    span &nbsp;
    a(href="/logout")
      button.pure-button Logout

