extend default

block content

  h2 Home

  if (!user)
    p Manage your personal and business relationships with Personowl.
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p
      | You are currently logged in as&nbsp;
      b #{user.username}
    a(href="/api/contacts") Contacts
    br
    a(href="/logout") Logout

