extend default

block content
  p Hello World!

  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p
      | You are currently logged in as&nbsp;
      b #{user.username}
    a(href="/api/contacts") Contacts
    br
    a(href="/logout") Logout
