extend default

block content
  h2 Register

  form.pure-form.pure-form-stacked(role='form', action="/register",method="post")

    label(for='username') Username
    input(id='username', type='text', name='username', placeholder='Username')

    label(for='password') Password
    input(id='password', type='password', name='password', placeholder='Password')

    button.pure-button.pure-button-primary(type='submit') Submit
    span &nbsp;
    a(href='/')
      button(type="button").pure-button Cancel

    h4= info